[run]
branch = true
data_file = .coverage
source = ./uberNow

[paths]
source =
	./uberNow
	/project/uberNow

[report]
show_missing = true
skip_covered = false
precision = 2

[html]
title = Coverage HTML Report
directory = htmlcov